<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
    <% include ./partials/top %>
<!-- main start-->
    <div class="edit">
      <h3>Edit Post</h3>
      <form class="posts_form" action="/posts/<%= post._id %>?_method=put" method="post">
        <label>Title</label>
        <input type="text" name="post[title]" value="<%= post.title %>">
        <label>Body</label>
        <textarea name="post[body]"><%= post.body %></textarea>
        <div class="float_right">Author:<%= user.nickname %></div>
        <button type="submit">Submit</button>
        <a href="/posts/<%= post._id %>"><button>Back</button></a>
      </form>
    </div>


<!-- main end-->
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  </body>
</html>
